<!DOCTYPE html>
<html>
<head>
    <title>Home</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

    <h1>웹해킹 실습 웹사이트 (자동배포테스트)</h1>

    <a href="/login">로그인 페이지 이동</a>

    <hr>

    <!-- XSS 테스트 영역 -->
    <h3>XSS 테스트</h3>
    <input id="testInput" placeholder="입력해보세요">
    <button onclick="reflectInput()">출력</button>

    <div id="result"></div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>